In [1]:
complex('5+3a')

ValueError: complex() arg is a malformed string

In [ ]:
int("3a")

In [ ]:
int("3")

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
x = str(3)
y = int(3)
z = float(3)
print(x)
print(y)
print(z)

In [ ]:
type(x)

In [ ]:
a = 4
A = "Sally"
print(a)
print(A)

In [ ]:
x,y,z= "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x=y=z="Orange"

In [ ]:
print(x,y,z)

In [ ]:
z=3+5j
type(z)

In [ ]:
a = "Hello World"
print(a)

In [ ]:
print(a[1])

In [ ]:
print(a[1:3])

In [ ]:
len(a)

In [ ]:
a.upper()

In [ ]:
a.split("#")

In [ ]:
a.split(" ")

In [ ]:
age = 18
txt="My name is amar, and i am {}"
print(txt.format(age))

In [ ]:
ls = ["apple","banana",]

In [2]:
list1 = ["apple", "banana", "cherry"]
print(list1)

['apple', 'banana', 'cherry']

In [3]:
len(list1)

3

In [4]:
print(list1[1])

banana

In [5]:
list1[-1]

'cherry'

In [7]:
list1[1:]

['banana', 'cherry']

In [8]:
list1[1] = "mango"
print(list1)

['apple', 'mango', 'cherry']

In [9]:
list1.insert(2,"watermelon")
print(list1)

['apple', 'mango', 'watermelon', 'cherry']

In [10]:
list1.append("orange")
print(list1)

['apple', 'mango', 'watermelon', 'cherry', 'orange']

In [11]:
list1.remove("mango")
print(list1)

['apple', 'watermelon', 'cherry', 'orange']

In [12]:
list1.pop()
print(list1)

['apple', 'watermelon', 'cherry']

In [13]:
list1.pop(1)

'watermelon'

In [14]:
print(list1)

['apple', 'cherry']

In [15]:
list1

['apple', 'cherry']

In [17]:
tuple1 = ("apple","banana","cherry")
print(tuple1)

('apple', 'banana', 'cherry')

In [1]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [3]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [4]:
a = 200
b = 33 
if b > a:
    print("b is greater than a ")
else:
    print("b is not greater than b")

b is not greater than b

In [1]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [3]:
i = 1
while i < 6:
    print(i)
    i +=1

1
2
3
4
5

In [6]:
i = 1
while i < 6:
    print(i)
    if i ==3:
        break
    i +=1

1
2
3

In [7]:
i = 1
while i < 6:
    i+=1
    if i ==3:
        continue
    print(i)

2
4
5
6

In [8]:
i = 1
while i <6:
    print(i)
    i +=1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [9]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [10]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [11]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [12]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [13]:
for x in range(2,6):
    print(x)

2
3
4
5

In [15]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [16]:
adj = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
def my_function():
    print("Hello from a function")

In [20]:
var = my_function
print(var)

<function my_function at 0x7fc04c2ccf70>

In [21]:
def my_function(fname):
    print(fname + " Refuses")
    
my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refuses
Tobias Refuses
Linus Refuses

In [22]:
x = lambda a :a + 10
print(x(5))

15

In [23]:
x = lambda a,b : a*b
print(x(5,6))

30

In [24]:
x = lambda a,b,c : a+b+c
print(x(5,6,2))

13